# Node / build
node_modules
npm-debug.log

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose.yml

# ENV
.env*
*.env

# 🔥 CRITICAL: block ALL sensitive folders completely
**/keys_secure
**/hls_secure

# Logs / temp
*.log
tmp
.cache
